# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# GCP Credentials
bean-sheet-*.json
credentials.json

# VScode
.vscode